[Unit]
Description=ARISS Graphic Display
After=syslog.target

[Service]
Type=simple
User=root
ExecStart=/home/pi/ariss/netpipe.sh
Restart=on-always

[Install]
WantedBy=multi-user.target
